<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="StockTraderRI.Modules.Market.dll" 
            moduleType="StockTraderRI.Modules.Market.MarketModule, StockTraderRI.Modules.Market, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
            moduleName="MarketModule" 
            startupLoaded="True" />
  </modules>
</configuration>
